{% extends 'base.html.twig' %}

{% block body %}
    <h1>FichePrescription</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fichePrescription.id }}</td>
            </tr>
            <tr>
                <th>Nom de la fiche de prescription</th>
                <td>{{ fichePrescription.nomFichePrescription }}</td>
            </tr>
            <tr>
                <th>Url de la fiche</th>
                <td>{{ fichePrescription.url }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ficheprescription_index') }}">Retour sur la liste des fiches</a>
        </li>
        <li>
            <a href="{{ path('ficheprescription_edit', { 'id': fichePrescription.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
