{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste Transport</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Temperature transport</th>
                <th>Delai transport</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for transport in transports %}
            <tr>
                <td><a href="{{ path('transport_show', { 'id': transport.id }) }}">{{ transport.id }}</a></td>
                <td>{{ transport.temperatureTransport }}</td>
                <td>{{ transport.delaiTransport }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('transport_show', { 'id': transport.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('transport_edit', { 'id': transport.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('transport_new') }}">Créer une nouvelle entrée</a>
        </li>
        <li>
            <a href="{{ path('moteur_recherche_administration') }}">Retour sur l'interface d'administration</a>
        </li>
    </ul>
{% endblock %}
