<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    
    <title>{% block title %}Site de recherche pour le CHU de Rouen{% endblock %}</title>
    {% stylesheets  '@MoteurRechercheBundle/Resources/public/css/bootstrap.css''@MoteurRechercheBundle/Resources/public/css/style.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}

    {% block javascripts %}
        {% javascripts '@MoteurRechercheBundle/Resources/public/js/script.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% javascripts '@MoteurRechercheBundle/Resources/public/js/jquery-3.0.0.min.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

       <!-- {% javascripts 'http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %} -->
    {% endblock %}

    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script> -->

</head>
<body>
<div id="mainContainer">

        {% image '@MoteurRechercheBundle/Resources/public/images/HeaderOfficiel2.jpg' %}
    <img id="banner" src="{{ asset_url }}" alt="Banner"  />
    {% endimage %}

    <h1>Outil de recherche des analyses de biologie médicale réalisées au CHU de Rouen</h1>

<div id="containerRecherche" class="text-center">
    <div id="clavier" class="btn-group" >
        <input class="btn btn-primary" onclick="rechercheLettre(event)" type="button"value="A">
        <input class="btn btn-primary" onclick="rechercheLettre(event)" type="button"value="B">
        <input class="btn btn-primary" onclick="rechercheLettre(event)" type="button"value="C">
        <input class="btn btn-primary" onclick="rechercheLettre(event)" type="button"value="D">
        <input class="btn btn-primary" onclick="rechercheLettre(event)" type="button"value="E">
        <input class="btn btn-primary" onclick="rechercheLettre(event)" type="button"value="F">
        <input class="btn btn-primary" onclick="rechercheLettre(event)" type="button"value="G">
        <input class="btn btn-primary" onclick="rechercheLettre(event)" type="button"value="H">
        <input class="btn btn-primary" onclick="rechercheLettre(event)" type="button"value="I">
        <input class="btn btn-primary" onclick="rechercheLettre(event)" type="button"value="J">
        <input class="btn btn-primary" onclick="rechercheLettre(event)" type="button"value="K">
        <input class="btn btn-primary" onclick="rechercheLettre(event)" type="button"value="L">
        <input class="btn btn-primary" onclick="rechercheLettre(event)" type="button"value="M">
        <input class="btn btn-primary" onclick="rechercheLettre(event)" type="button"value="N">
        <input class="btn btn-primary" onclick="rechercheLettre(event)" type="button"value="O">
        <input class="btn btn-primary" onclick="rechercheLettre(event)" type="button"value="P">
        <input class="btn btn-primary" onclick="rechercheLettre(event)" type="button"value="Q">
        <input class="btn btn-primary" onclick="rechercheLettre(event)" type="button"value="R">
        <input class="btn btn-primary" onclick="rechercheLettre(event)" type="button"value="S">
        <input class="btn btn-primary" onclick="rechercheLettre(event)" type="button"value="T">
        <input class="btn btn-primary" onclick="rechercheLettre(event)" type="button"value="U">
        <input class="btn btn-primary" onclick="rechercheLettre(event)" type="button"value="V">
        <input class="btn btn-primary" onclick="rechercheLettre(event)" type="button"value="W">
        <input class="btn btn-primary" onclick="rechercheLettre(event)" type="button"value="X">
        <input class="btn btn-primary" onclick="rechercheLettre(event)" type="button"value="Y">
        <input class="btn btn-primary" onclick="rechercheLettre(event)" type="button"value="Z">
        <input id="bouttonChiffre" class="btn btn-warning" onclick="rechercheLettre(event)" type="button"value="0...9">
    </div>

        <form id="zoneRecherche" class="form-horizontal" action="{{ path('recherche')}}" method="POST">
            <input class="form-control" id="zoneLibre" type="text" name="recherche" placeholder="Recherche...">

            <select id="selectLabo" class="form-control">
                <option value="defaut">Laboratoire</option>
                {% for entity in rechercheLaboratoire %}     
                    <option value="{{entity.nomLaboratoire}}">{{entity.nomLaboratoire}}</option>
                {% endfor %}
            </select>


            <select id="selectMicroOrg" class="form-control">
                <option value="defaut">Micro Organisme</option>
                {% for entity in rechercheMicroOrganisme %}  
                    <option value="{{entity.nomMicroOrganisme}}">{{entity.nomMicroOrganisme}}</option>
                {% endfor %} 
            </select>
            </select>
            <br />
            <input type="submit" class="btn btn-primary" value="Rechercher">
            <button class="btn btn-info" name="recherche" onclick="RAZvalue()">RAZ</button>
        </form> 

</div>

<div id="zoneResultat">
{% include 'rechercheIndex/liste.html.twig'  %}


    <div id="zonePresentation">
        <h4>Comment rechercher une analyse ?</h4> 

        <ul>
            <li>Vous pouvez sélectionner une lettre et toutes les analyses commençant par cette lettre vous seront présentées. Sélectionnez la touche chiffres et toutes les analyses contenant des chiffres seront affichées (ex: 17 OH-progestérone)
            </li>
            <li>Vous pouvez saisir un nom d'analyse, même partiel, ou un mot clé</li>
            <li>Enfin vous pouvez rechercher par Laboratoire ou Micro-organisme pour affiner votre requête</li>
        </ul>

        <p>
            Cliquez sur le bouton "Rechercher" ou tapez sur la touche "Entrée" de votre clavier pour lancer votre recherche, les résultats s'afficheront ci-dessous. 
        </p>

        <p> Lorsque vous effectuez une recherche par mot clé, il est possible d'affiner les résultats en choisissant un Laboratoire et/ou un Micro-organisme.
        </p>
    </div>
</div>

<script>
//$(".loading").hide();
$("#zoneRecherche").submit(function(){ 
    //$(".loading").show();



    var motcle = $("#zoneLibre").val();
    var labo = $("#selectLabo").val();
    var microOrg = $("#selectMicroOrg").val();


    if (motcle != "" || labo != "defaut" || microOrg != "defaut")
    {
        var DATA = 'zonelibre=' + motcle + '&selectLabo=' + labo + '&selectMicroOrg=' + microOrg ; 

        $.ajax({
            type: "POST",
            url: "{{ path('recherche')}}",
            data: DATA,
            cache: false,
            success: function(data){
               $('#zoneResultat').html(data);
              // $(".loading").hide();
            }
        });    

    }
    return false;
});

</script>

{% block body %}
{% endblock %}

</div>
</body>

</html>
