{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste NomenclatureBBhn</h1>

     <ul>
        <li>
            <a href="{{ path('nomenclaturebbhn_new') }}">Créer une nouvelle entrée</a>
        </li>
        <li>
            <a href="{{ path('moteur_recherche_administration') }}">Retour sur l'interface d'administration</a>
        </li>
    </ul>

    <table class="table-bordered table-striped" id="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Valeurnomenclature</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for nomenclatureBBhn in nomenclatureBBhns %}
            <tr>
                <td><a href="{{ path('nomenclaturebbhn_show', { 'id': nomenclatureBBhn.id }) }}">{{ nomenclatureBBhn.id }}</a></td>
                <td>{{ nomenclatureBBhn.valeurNomenclature }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('nomenclaturebbhn_show', { 'id': nomenclatureBBhn.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('nomenclaturebbhn_edit', { 'id': nomenclatureBBhn.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
