{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="titre">NomenclatureBBhn</h1>

    <table id="table" class="table-bordered table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ nomenclatureBBhn.id }}</td>
            </tr>
            <tr>
                <th>Valeurnomenclature</th>
                <td>{{ nomenclatureBBhn.valeurNomenclature }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="champsfiche">
        <li>
            <a href="{{ path('nomenclaturebbhn_index') }}">Retour à la liste</a>
        </li>
        <li>
            <a href="{{ path('nomenclaturebbhn_edit', { 'id': nomenclatureBBhn.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
