{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="titre">Liste Tube</h1>

    <ul>
        <li>
            <a href="{{ path('tube_new') }}">Créer une nouvelle entrée</a>
        </li>
        <li>
            <a href="{{ path('moteur_recherche_administration') }}">Retour sur l'interface d'administration</a>
        </li>
    </ul>

    <table class="table-bordered table-striped" id="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nomimagetube</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tube in tubes %}
            <tr>
                <td><a href="{{ path('tube_show', { 'id': tube.id }) }}">{{ tube.id }}</a></td>
                <td>{{ tube.nomImageTube }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('tube_show', { 'id': tube.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('tube_edit', { 'id': tube.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
