{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="titre">Liste Condition Prelevement</h1>

    <table id="table" class="table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Valeur cp</th>
                <th>Precision cp</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for conditionPrelevement in conditionPrelevements %}
            <tr>
                <td><a href="{{ path('conditionprelevement_show', { 'id': conditionPrelevement.id }) }}">{{ conditionPrelevement.id }}</a></td>
                <td>{{ conditionPrelevement.valeurCP }}</td>
                <td>{{ conditionPrelevement.precisionCP }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('conditionprelevement_show', { 'id': conditionPrelevement.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('conditionprelevement_edit', { 'id': conditionPrelevement.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('conditionprelevement_new') }}">Créer une nouvelle entrée</a>
        </li>
        <li>
            <a href="{{ path('moteur_recherche_administration') }}">Retour sur l'interface d'administration</a>
        </li>
    </ul>
{% endblock %}
