{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="titre">Condition Prélévement</h1>

    <table id="table" class="table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ conditionPrelevement.id }}</td>
            </tr>
            <tr>
                <th>Valeur cp</th>
                <td>{{ conditionPrelevement.valeurCP }}</td>
            </tr>
            <tr>
                <th>Precision cp</th>
                <td>{{ conditionPrelevement.precisionCP }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('conditionprelevement_index') }}">Retour à la liste</a>
        </li>
        <li>
            <a href="{{ path('conditionprelevement_edit', { 'id': conditionPrelevement.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-primary" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
