{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="titre">Liste MicroOrganisme</h1>

     <ul class="champsfiche">
        <li>
            <a href="{{ path('microorganisme_new') }}">Créer une nouvelle entrée</a>
        </li>
        <li>
            <a href="{{ path('moteur_recherche_administration') }}">Retour sur l'interface d'administration</a>
        </li>
    </ul>

    <table id="table" class="table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom Micro Organisme</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for microOrganisme in microOrganismes %}
            <tr>
                <td><a href="{{ path('microorganisme_show', { 'id': microOrganisme.id }) }}">{{ microOrganisme.id }}</a></td>
                <td>{{ microOrganisme.nomMicroOrganisme }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('microorganisme_show', { 'id': microOrganisme.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('microorganisme_edit', { 'id': microOrganisme.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   
{% endblock %}
