{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="titre">Micro Organisme</h1>

    <table id="table" class="table-striped table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ microOrganisme.id }}</td>
            </tr>
            <tr>
                <th>Nommicroorganisme</th>
                <td>{{ microOrganisme.nomMicroOrganisme }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="champsfiche">
        <li>
            <a href="{{ path('microorganisme_index') }}">Retour à la liste</a>
        </li>
        <li>
            <a href="{{ path('microorganisme_edit', { 'id': microOrganisme.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-primary" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
