{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste Laboratoire</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom laboratoire</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for laboratoire in laboratoires %}
            <tr>
                <td><a href="{{ path('laboratoire_show', { 'id': laboratoire.id }) }}">{{ laboratoire.id }}</a></td>
                <td>{{ laboratoire.nomLaboratoire }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('laboratoire_show', { 'id': laboratoire.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('laboratoire_edit', { 'id': laboratoire.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('laboratoire_new') }}">Créer une nouvelle entrée</a>
        </li>
        <li>
            <a href="{{ path('moteur_recherche_administration') }}">Retour sur l'interface d'administration</a>
        </li>
    </ul>
{% endblock %}
