{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="titre">Laboratoire</h1>

    <table id="table" class="table-striped table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ laboratoire.id }}</td>
            </tr>
            <tr>
                <th>Nomlaboratoire</th>
                <td>{{ laboratoire.nomLaboratoire }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="champsfiche">
        <li>
            <a href="{{ path('laboratoire_index') }}">Retour à la liste</a>
        </li>
        <li>
            <a href="{{ path('laboratoire_edit', { 'id': laboratoire.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
