{% extends 'base.html.twig' %}


{% block body %}
    <h1>Liste Analyse</h1>

    <ul>
        <li>
            <a href="{{ path('analyse_new') }}">Créer une nouvelle entrée</a>
        </li>
        <li>
            <a href="{{ path('moteur_recherche_administration') }}">Retour sur l'interface d'administration</a>
        </li>
    </ul>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom analyse</th>
                <th>Analyte</th>
                <th>Nature analyse</th>
                <th>Volume analyse</th>
                <th>Contenant analyse</th>
                <th>Volume contenant analyse</th>
                <th>Laboratoire</th>
                <th>Fiche prescription</th>
                <th>Principe méthode</th>
                <th>Nature prelevement</th>
                <th>Renseignement clinique</th>
                <th>Condition prelevement</th>
                <th>Transport</th>
                <th>Conservation</th>
                <th>Delai résultat</th>
                <th>Actions</th>
               
            </tr>
        </thead>
        <tbody>
        {% for analyse in analyses %}
            <tr>
                <td><a href="{{ path('analyse_show', { 'id': analyse.id }) }}">{{ analyse.id }}</a></td>
                <td>{{ analyse.nomAnalyse }}</td>
                <td>{{ analyse.analyte }}</td>
                <td>{{ analyse.natureAnalyse }}</td>
                <td>{{ analyse.volumeAnalyse }}</td>
                <td>{{ analyse.contenantAnalyse }}</td>
                <td>{{ analyse.volumeContenantAnalyse }}</td>
                <td>{{ analyse.laboratoire }}</td>
                <td>{{ analyse.fichePrescription }}</td>
                <td>{{ analyse.principeMethode }}</td>
                <td>{{ analyse.naturePrelevement }}</td>
                <td>{{ analyse.renseignementClinique }}</td>
                <td>{{ analyse.conditionPrelevement }}</td>
                <td>{{ analyse.transport }}</td>
                <td>{{ analyse.conservationAvantTransport }}</td>
                <td>{{ analyse.delaiResultat }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('analyse_show', { 'id': analyse.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('analyse_edit', { 'id': analyse.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
