{% extends 'base.html.twig' %}

{% block body %}
    <h1>Analyse</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ analyse.id }}</td>
            </tr>
            <tr>
                <th>Nom analyse</th>
                <td>{{ analyse.nomAnalyse }}</td>
            </tr>
            <tr>
                <th>Analyte</th>
                <td>{{ analyse.analyte }}</td>
            </tr>
            <tr>
                <th>Nature analyse</th>
                <td>{{ analyse.natureAnalyse }}</td>
            </tr>
            <tr>
                <th>Volume analyse</th>
                <td>{{ analyse.volumeAnalyse }}</td>
            </tr>
            <tr>
                <th>Contenant analyse</th>
                <td>{{ analyse.contenantAnalyse }}</td>
            </tr>
            <tr>
                <th>Volume contenant analyse</th>
                <td>{{ analyse.volumeContenantAnalyse }}</td>
            </tr>
            <tr>
                <th>Référence GEDI</th>
                <td>{{ analyse.refGedi }}</td>
            </tr>
            <tr>
                <th>Matrice température transport</th>
                <td>{{ analyse.matriceTemperatureTransport }}</td>
            </tr>
            <tr>
                <th>Matrice conservation avant transport</th>
                <td>{{ analyse.matriceConservationAvantTransport }}</td>
            </tr>
            <tr>
                <th>Matrice délai acheminement</th>
                <td>{{ analyse.matriceDelaiAcheminement }}</td>
            </tr>
            <tr>
                <th>Code nomenclature</th>
                <td>{{ analyse.codeNomenclature }}</td>
            </tr>
            <tr>
                <th>Volume minimum</th>
                <td>{{ analyse.volumeMinimum }}</td>
            </tr>
            <tr>
                <th>Analyse SaintJulien</th>
                <td>{{ analyse.analyseSaintJulien }}</td>
            </tr>
            <tr>
                <th>Nom laboratoire</th>
                <td>{{ analyse.laboratoire }}</td>
            </tr>
            <tr>
                <th>Fiche prescription</th>
                <td>{{ analyse.fichePrescription }}</td>
            </tr>
            <tr>
                <th>Principe méthode</th>
                <td>{{ analyse.principeMethode }}</td>
            </tr>
            <tr>
                <th>Nature prélévement</th>
                <td>{{ analyse.naturePrelevement }}</td>
            </tr>
            <tr>
                <th>Renseignement clinique</th>
                <td>{{ analyse.renseignementClinique }}</td>
            </tr>
            <tr>
                <th>Condition prélévement</th>
                <td>{{ analyse.conditionPrelevement }}</td>
            </tr>
            <tr>
                <th>Transport</th>
                <td>{{ analyse.transport }}</td>
            </tr>
            <tr>
                <th>Conservation avant transport</th>
                <td>{{ analyse.conservationAvantTransport }}</td>
            </tr>
            <tr>
                <th>Délai de résultat</th>
                <td>{{ analyse.delaiResultat }}</td>
            </tr>
            <tr>
                <th>Tube</th>
                <td>{{ analyse.tube }}</td>
            </tr>
            <tr>
                <th>Nomenclature BBHN</th>
                <td>{{ analyse.nomenclatureBBhn }}</td>
            </tr>
            <tr>
                <th>Nature matrice</th>
                <td>{{ analyse.natureMatrice }}</td>
            </tr>

        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('analyse_index') }}">Retour à la liste</a>
        </li>
        <li>
            <a href="{{ path('analyse_edit', { 'id': analyse.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
