{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste Nature Prélévement</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom nature prélévement</th>
                <th>Precision prélévement</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for naturePrelevement in naturePrelevements %}
            <tr>
                <td><a href="{{ path('natureprelevement_show', { 'id': naturePrelevement.id }) }}">{{ naturePrelevement.id }}</a></td>
                <td>{{ naturePrelevement.nomNaturePrelevement }}</td>
                <td>{{ naturePrelevement.precisionPrelevement }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('natureprelevement_show', { 'id': naturePrelevement.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('natureprelevement_edit', { 'id': naturePrelevement.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('natureprelevement_new') }}">Créer une nouvelle entrée</a>
        </li>
    </ul>
{% endblock %}
