{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="titre">Liste Secteur</h1>

    <table class="table-bordered table-striped" id="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom secteur</th>
                <th>Nom laboratoire </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for secteur in secteurs %}
            <tr>
                <td><a href="{{ path('secteur_show', { 'id': secteur.id }) }}">{{ secteur.id }}</a></td>
                <td>{{ secteur.nomSecteur }}</td>
                <td>{{ secteur.laboratoire}}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('secteur_show', { 'id': secteur.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('secteur_edit', { 'id': secteur.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="champsfiche">
        <li>
            <a href="{{ path('secteur_new') }}">Créer une nouvelle entrée</a>
        </li>
        <li>
            <a href="{{ path('moteur_recherche_administration') }}">Retour sur l'interface d'administration</a>
        </li>
    </ul>
{% endblock %}
