{% extends 'base.html.twig' %}

{% block body %}
    <h1 class=" titre">Secteur</h1>

    <table id="table" class="table-bordered table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ secteur.id }}</td>
            </tr>
            <tr>
                <th>Nom secteur</th>
                <td>{{ secteur.nomSecteur }}</td>
            </tr>
            <tr>
                <th>Nom du laboratoire</th>
                <td>{{ secteur.laboratoire }}</td>
            </tr>

        </tbody>
    </table>

    <ul class="champsfiche">
        <li>
            <a href="{{ path('secteur_index') }}">Retour à la liste</a>
        </li>
        <li>
            <a href="{{ path('secteur_edit', { 'id': secteur.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
