{% extends '::base.html.twig' %}

{% block body %}
    <div style="text-align: center">
        <h2 style="color: #0088CC">{{ analyse.nomAnalyse }}</h2>
        <p style="font-size: x-large"><i>{{ analyse.natureAnalyse }}</i></p>
    </div>
        <div>
               <br><p id="champsfiche">Nature du prélévement: {{analyse.getNaturePrelevement().nomNaturePrelevement }}</p>
                <br><p id="champsfiche">Micro-Organisme: {{analyse.getMicroOrganismeAnalyse().analyse_microOrganisme}}</p>
        <br><p id="champsfiche">L'analyse se trouve sur la fiche : {{analyse.getFichePrescription().nomFichePrescription }}</p>
            <div id="cadrefiole">
                {% image '@MoteurRechercheBundle/Resources/public/images/Citrate_Ad.jpg' %}
                <img id="fiole" src="{{ asset_url }}" alt="Example" width="auto" />
                {% endimage %}
            </div>
            <br><p id="champsfiche">Il faut prélever : {{analyse.contenantAnalyse }}</p>
        <br><p id="champsfiche">Acheminer le prélévement au laboratoire: {{analyse.getLaboratoire().nomLaboratoire }}</p>
        <br><p id="champsfiche">Dans un délai de  {{ analyse.getTransport().delaiTransport }} à {{ analyse.getTransport().temperatureTransport }}</p>
            {% if analyse.getConditionPrelevement() is not null %}
        <br><p id="champsfiche2">Autres renseignements utiles: {{analyse.getConditionPrelevement().valeurCP }} {{analyse.getConditionPrelevement().precisionCP }}</p>
        {% endif %}
        </div>
        <input id="bouton_d" type="button" class="btn btn-primary" value="Plus de détails" onclick="resize()">
    {% image '@MoteurRechercheBundle/Resources/public/images/IBC_provisoir.png' %}
    <img id="carte" src="{{ asset_url }}" alt="Example"  />
    {% endimage %}
    <div style="display:none; width: auto;margin-left:5%" id="cache" class="media-list">
        <p id="champsfiche">Tarification : {{analyse.getRefGedi() }}</p>
        <p id="champsfiche">Code : {{analyse.getRefGedi() }}</p>
    </div>

{% endblock %}