{% extends '::base.html.twig' %}

{% block body %}
    <div style="text-align: center">
        <h2 style="color: #0088CC">{{ analyse.nomAnalyse }}</h2>
        <p style="font-size: x-large"><i>{{ analyse.natureAnalyse }}</i></p>

    </div>

    <table id="fiche">
    <tr>
    <td style="width: 70%"><div>
            <br><h4><u>Laboratoire</u>: {{analyse.getLaboratoire().nomLaboratoire }}</h4>
            <br><h4><u>Acheminement au laboratoire</u> : {{ analyse.getTransport().delaiTransport }}</h4>
            <br><h4><u>Température de transport</u> : {{ analyse.getTransport().temperatureTransport }}</h4>
        </div></td>
    <td>  {% image '@MoteurRechercheBundle/Resources/public/images/Citrate_Ad.jpg' %}
        <img id="fiole" src="{{ asset_url }}" alt="Example"/>
        {% endimage %}</td>
    </tr>
    </table>

{% endblock %}