{% extends '::base.html.twig' %}

{% block body %}
    <a href="javascript:window.close()">
        {% image '@MoteurRechercheBundle/Resources/public/images/close.png' %}
        <img id="close" src="{{ asset_url }}" alt="fermer" width="50" />
        {% endimage %}
    </a>
    <div style="text-align: center">
        <h2 id="nomanalyse">{{ analyse.nomAnalyse }}</h2>

        <p id="natureanalyse">{{ analyse.natureAnalyse }}</p>
    </div>
    <div>
        {% set tube = analyse.getTube().getNomImageTube() %}
        {% set nom = tube~'.jpg' %}
        <img id="fiole" src="{{ asset('bundles/moteurrecherche/images/'~nom) }}" alt="Example"/>

        <div id="cadrebleu">
            <img style="margin-top: 5px" src="{{ asset('bundles/moteurrecherche/images/labo.svg') }}" alt="labo"
                 width="50"/>

            <br>

            <p class="champsfiche">Nature du prélévement:
                <b>{{ analyse.getNaturePrelevement().nomNaturePrelevement }}</b></p>
            {% if analyse.getMicroOrganismeAnalyse().first().getNomMicroOrganisme() is not empty %}
                <br><p class="champsfiche">Micro-Organisme: </p>
                {% for micro in analyse.getMicroOrganismeAnalyse() %}
                    <p class="champsfiche"><b> - {{ micro.getNomMicroOrganisme }}</b></p>
                {% endfor %}
            {% endif %}
            <br>

            <p class="champsfiche">L'analyse se trouve sur la fiche : <a
                        href="{{ analyse.getFichePrescription().url }}">{{ analyse.getFichePrescription().nomFichePrescription }}</a>
            </p>

            <br>

            <p class="champsfiche">Il faut prélever :<b> {{ analyse.contenantAnalyse }}</b></p>
        </div>
        <div id="cadrerouge">
            <img style="margin-top: 5px" src="{{ asset('bundles/moteurrecherche/images/ambulance.svg') }}" alt="labo"
                 width="50"/>
            <br>

            <p class="champsfiche">Acheminer le prélévement au
                laboratoire:<b>{{ analyse.getLaboratoire().nomLaboratoire }}</b></p>
            {% if analyse.getAnalyseSaintJulien() =="Oui" %}
                <p class="champsfiche" id="stjul">( Analyse également disponible à Saint Julien )</p>
            {% endif %}

            <br><p class="champsfiche">Température d'acheminement :<b>{{ analyse.getTransport().temperatureTransport }}</b>
                dans un délai de <b>{{ analyse.getTransport().delaiTransport }}</b></p>
        </div>
        {% if analyse.getRenseignementClinique().getValeurRC() or analyse.getConditionPrelevement().valeurCP or analyse.getConditionPrelevement().precisionCP  is not empty %}
        <div id="cadrejaune">
            <img style="margin-top: 5px" src="{{ asset('bundles/moteurrecherche/images/warning.svg') }}" alt="labo"
                 width="50"/>
            {% if analyse.getRenseignementClinique().getValeurRC()  is not empty %}
                <p class="champsfiche"><b>{{ analyse.getRenseignementClinique().getValeurRC() }}</b></p>
            {% endif %}
            {% if analyse.getConditionPrelevement().valeurCP or analyse.getConditionPrelevement().precisionCP  is not empty %}
                <br><p id="champsfiche2">Autres renseignements
                utiles:<b>{{ analyse.getConditionPrelevement().valeurCP }}</b>
                <br><b>{{ analyse.getConditionPrelevement().precisionCP }}</b></p>
            {% endif %}
        </div>
        {% endif %}
    </div>
    <input id="bouton_d" type="button" class="btn btn-primary" value="Plus de détails" onclick="resize()">
    <input id="detailsmoins" type="button" class="btn btn-primary" value="Moins de détails" onclick="moins()">
    <div style="display:none; width: auto;" id="cache" class="media-list">
        <div id="divtarif">
            <span class="champsfiche tarif">Tarification : {{ analyse.getNomenclatureBBhn().getValeurNomenclature() }}</span>
            {% if  analyse.getCodeNomenclature() is not empty %}
                {% if analyse.getCodeNomenclature()|length <4 %}
                    <a href="http://www.codage.ext.cnamts.fr/cgi/nabm/cgi-fiche?p_code_nabm=0{{ analyse.getCodeNomenclature() }}&p_date_jo_arrete=%25&p_menu=FICHE&p_site=AMELI"  target="_blank" class="champsfiche tarif"> Code: {{ analyse.getCodeNomenclature() }}</a>
                {% else %}
                <a href="http://www.codage.ext.cnamts.fr/cgi/nabm/cgi-fiche?p_code_nabm={{ analyse.getCodeNomenclature() }}&p_date_jo_arrete=%25&p_menu=FICHE&p_site=AMELI"  target="_blank" class="champsfiche tarif"> Code: {{ analyse.getCodeNomenclature() }}</a>
            {% endif %}
                {% endif %}
            <br><a target="_blank" href="http://thot:8080/eDoc/actions/redirect?method=attachment&amp;ref={{analyse.getRefGedi()}}&amp;datasource=ennovged&amp;workspace=intranet" class="champsfiche tarif"> Référence GEDI : {{ analyse.getRefGedi() }}</a>
        </div>
        {% if  analyse.getAnalyte() is not empty %}
            <p class="champsfiche">Analyte : <b>{{ analyse.getAnalyte() }}</b></p>
        {% endif %}
        {% if  analyse.getVolumeContenantAnalyse() is not empty %}
            <p class="champsfiche">Volume du contenant :<b>{{ analyse.getVolumeContenantAnalyse() }}</b></p>
        {% endif %}
        {% if  analyse.getPrincipeMethode().getNomPrincipeMethode() is not empty %}
            <p class="champsfiche">Principe :<b>{{ analyse.getPrincipeMethode().getNomPrincipeMethode() }}</b></p>
        {% endif %}

        <p class="champsfiche">Délai minimum de réalisation :<b>{{ analyse.getDelaiResultat().getValeurResultat() }}</b>
            Fréquence : <b>{{ analyse.getDelaiResultat().getFrequenceRealisation() }}</b></p>

        <div id="ext">
            <p class="champsfiche"><b>Si vous n’êtes pas sur le site de Charles Nicolle :</b></p>

            <p class="champsfiche">Nous faire
                parvenir : {{ analyse.getNatureMatrice().getValeurMatrice() }} {{analyse.getNatureMatrice().getPrecisionMatrice() }}</p>

            {% if  analyse.getVolumeMinimum() is not empty %}
            <p class="champsfiche">Volume Minimum : {{ analyse.getVolumeMinimum() }}</p>
            {% endif %}

            <p class="champsfiche"><u>Conditions de transport</u><br> Tempérture
                : {{ analyse.getTransport().getTemperatureTransport() }}<br>Délai
                :{{ analyse.getTransport().getDelaiTransport() }}</p>
        </div>
    </div>
    {% set plan = analyse.getLaboratoire().getPlan() %}
    {% set nomlabo = plan~'.jpg' %}
    <img id="carte" src="{{ asset('bundles/moteurrecherche/images/'~nomlabo) }}" alt="Example" onclick="id='carteUP'"
         onmouseout="id='carte'"/>

{% endblock %}