{% extends '::base.html.twig' %}

{% block body %}
    <div style="text-align: center">
        <h2 id="nomanalyse">{{ analyse.nomAnalyse }}</h2>
        <p id="natureanalyse">{{ analyse.natureAnalyse }}</p>
    </div>
        <div>
               <br><p class="champsfiche">Nature du prélévement: {{analyse.getNaturePrelevement().nomNaturePrelevement }}</p>
    {% if analyse.getMicroOrganismeAnalyse().first().getNomMicroOrganisme() is not empty %}
       <br><p class="champsfiche">Micro-Organisme: </p>
        {% for micro in analyse.getMicroOrganismeAnalyse() %}
        <p class="champsfiche"> - {{ micro.getNomMicroOrganisme }}</p>
        {% endfor %}
    {% endif %}
        <br><p class="champsfiche">L'analyse se trouve sur la fiche : <a href="{{ analyse.getFichePrescription().url }}">{{analyse.getFichePrescription().nomFichePrescription }}</a></p>
            <div id="cadrefiole">
                {% set tube = analyse.getTube().getNomImageTube()%}
                {%set nom = tube~'.jpg'%}
                <img id="fiole" src="{{asset('bundles/moteurrecherche/images/'~nom)}}" alt="Example" width="auto" />
            </div>
            <br><p class="champsfiche">Il faut prélever : {{analyse.contenantAnalyse }}</p>
        <br><p class="champsfiche">Acheminer le prélévement au laboratoire: {{analyse.getLaboratoire().nomLaboratoire }}</p>
        <br><p class="champsfiche">Température: {{ analyse.getTransport().temperatureTransport }}</p>
        <br><p class="champsfiche">Dans un délai de  {{ analyse.getTransport().delaiTransport }}</p>
            {% if analyse.getConditionPrelevement().valeurCP or analyse.getConditionPrelevement().precisionCP  is not empty %}
        <br><p id="champsfiche2">Autres renseignements utiles: {{analyse.getConditionPrelevement().valeurCP }} {{analyse.getConditionPrelevement().precisionCP }}</p>
            {% endif %}
        </div>
        <input id="bouton_d" type="button" class="btn btn-primary" value="Plus de détails" onclick="resize()">
    <div style="display:none; width: auto;" id="cache" class="media-list">
        <span class="champsfiche tarif">Tarification : {{analyse.getNomenclatureBBhn().getValeurNomenclature()}}</span>
        <span class="champsfiche tarif"> Référence GEDI : {{ analyse.getRefGedi()}}</span>
        {% if  analyse.getCodeNomenclature() is not empty%}
            <span class="champsfiche tarif"> Code: {{ analyse.getCodeNomenclature()}}</span>
        {% endif %}
        <p class="champsfiche">Analyte : {{ analyse.getAnalyte() }} </p>
        <p class="champsfiche">Volume du contenant :{{ analyse.getVolumeContenantAnalyse() }}</p>
        <p class="champsfiche">Secteur Réalisant l’analyse : Standby</p>
        <p class="champsfiche">Principe : {{ analyse.getPrincipeMethode().getNomPrincipeMethode() }}</p>
        <p class="champsfiche">Délai minimum de réalisation :{{ analyse.getDelaiResultat().getValeurResultat() }} Fréquence : {{ analyse.getDelaiResultat().getFrequenceRealisation() }}</p>
        <div id="ext">
            <p class="champsfiche"><b>Si vous n’êtes pas sur le site de Charles Nicolle :</b></p>
            <p class="champsfiche">Nous faire parvenir : {{ analyse.getNatureMatrice().getValeurMatrice() }}, {{ analyse.getNatureMatrice().getPrecisionMatrice() }}</p>
            <p class="champsfiche">Volume Minimum : Standby</p>
            <p class="champsfiche"><u>Conditions de transport</u><br> Température : {{analyse.getTransport().getTemperatureTransport()}}<br>Délai :{{ analyse.getTransport().getDelaiTransport() }}</p>
        </div>
    </div>
    {% set plan = analyse.getLaboratoire().getPlan()%}
    {%set nomlabo = plan~'.jpg'%}
    <img id="carte" src="{{asset('bundles/moteurrecherche/images/'~nomlabo)}}" alt="Example" onclick="id='carteUP'" onmouseout="id='carte'"/>

{% endblock %}