<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
{% block body %}

    <style>

        body{
        margin:0;
        }

        #mainContainer{
            height:27cm;
           // height:13.4cm;
           // max-height:13.4cm;
           height:8.85cm;
           max-height:8.85cm;
           // border:solid red
        }

        #traitDebut{
            color: black;
            background-color: black;
            height: 1px;
        }

        .traitBasique{
            color: black;
            background-color: black;
            width:50%;
        }

        #traitVert{
            display:inline-block;
            width:0px;
            height:100px;
            color:black;
            margin-top:30px;
        }

        #partieSup
        {
            margin-top:-22px;
            margin-left:-4px;
        }


        #partieBas
        {
            width : 100%;
        }

        #partieBas p
        {
            margin-top:15px;
            font-style:italic;
            font-size:10px;
        }

        #partieCent
        {
            margin-top:-20px;
           // height:10%;
        }

        #partieSupGauche, #partieCentGauche{
            width:55%;
           // height:10%;
        }

        #partieSupDroite, #partieCentDroite{
            width:43%;
        }

        #partieSupGauche, #partieSupDroite{
            display:inline-block;
           // width:48%;
            vertical-align:top
        }

        #partieCentGauche, #partieCentDroite{
            display:inline-block;
            margin-top:-20px;
            vertical-align:top
        }

        #partiesupDroite{
            margin-top:20px;
        }

        #divNomAnalyse{
            background-color: #e4ecd6;
            height:35px;
            line-height: 35px;
            margin-top:13px;
        }

        #pNomAnalyse{
            margin-left:6px;
            font-size:10px;
            font-weight: bold;
        }

        #divNatureAnalyse{
            //line-height:2px;
        }

        #pNatureAnalyse{
            margin-top:-2px;
            font-size:10px;
            color:#6f8b99;
            height:30px;
            line-height:15px;
            margin-left:6px;
        }

        .champ{
            color:#b7bed1;
            font-size:11px;
            display: inline-block;
          //  vertical-align: top;
            margin-left:8px;
        }

        .champPlus{
            color:#b7bed1;
            font-size:13px;
            display: inline-block;
            vertical-align: top;
            margin-left:8px;
        }

        .champPlusGauche{
            color:#b7bed1;
            font-size:13px;
            display: inline-block;
            vertical-align: top;
            width:100%;
        }

        .value{
            font-size:10px;
            display: inline-block;
            //vertical-align: top;
            margin-left:3px;
            line-height:13px;
        }

        .retourLigne{
            margin-top:-20px;
        }

        .NouvelleAnalyse{
        }

        .retourLigneMargin{
            margin-top:-20px;
            margin-left:20px;
        }

        #volumeMin{
            //margin-top:16px;
            font-size:10px;
            display: inline-block;
            vertical-align: top;
            margin-left:3px;
            width:70%;
            text-align:justify;
        }

        #containerVolumeMin{
            //height:200px;
        }

    </style>

{% set i = 0 %}

{% for analyse in analyses %}


    <div id="mainContainer">

    <hr id="traitDebut" />    
    <div id="partieSup">
        
        <div id="partieSupGauche">
            <div id="divNomAnalyse"><p id="pNomAnalyse">{{ analyse.nomAnalyse }}</p></div>
            <div id="divNatureAnalyse"><p id="pNatureAnalyse">{{ analyse.natureAnalyse }}</p></div>
        
        </div>
        <div id="partieSupDroite">
            <p class="champ">Cotation : </p><p class="value">{{ analyse.getNomenclatureBBhn.valeurNomenclature }}</p>
            <p class="champ">Fiche : </p><p class="value">{{ analyse.getFichePrescription().nomFichePrescription }}</p>
            <div class="retourLigne">
            <p class="champ">Méthode : </p><p class="value">{{ analyse.getPrincipeMethode.nomPrincipeMethode }}</p>
            </div>
            <div class="retourLigne">
            <p class="champ">Délai min. de réalisation : </p><p class="value">{{ analyse.getDelaiResultat.valeurResultat }}</p>
            </div>
            <div class="retourLigne">
            <p class="champ">Fréquence de réalisation : </p><p class="value">{{ analyse.getDelaiResultat.frequenceRealisation }}</p>
            </div>
        </div>
    </div>

        



    <div id="partieCent">
        <hr class="traitBasique" />
        <div id="partieCentGauche">
            <p class="champPlusGauche">Ce que les services de soins doivent nous faire parvenir : </p>
            <div class="retourLigne">
            <p class="value">

            {% if analyse.getNaturePrelevement().nomNaturePrelevement is defined %}
                {{ analyse.getNaturePrelevement.nomNaturePrelevement }}
            {% else %}
                {{ analyse.contenantAnalyse }}
            {% endif %}

            </p>
            </div>

            <div class="retourLigneMargin">
            <p class="champ">Conservation : </p><p class="value">{{ analyse.conservationAvantTransport }}</p>
            </div>

            <div class="retourLigneMargin">
            <p class="champ">Transport : </p><p class="value">{{ analyse.getTransport.temperatureTransport}}</p>
            </div>

            <div class="retourLigneMargin">
            <p class="champ">Délai d'acheminement </p><p class="value">{{ analyse.getTransport.delaiTransport}}</p>
            </div>

            <div class="retourLigneMargin">
            <p class="champ">Volume min.</p>
            <p class="value">{{ analyse.volumeAnalyse}}</p>
            </div>

        </div>

        <hr id="traitVert" />

        <div id="partieCentDroite">
            <p class="champPlus">Ce que les laboratoires extérieurs doivent nous faire parvenir :  </p>
        
            <div class="retourLigne">
                <p class="value">{{ analyse.getNatureMatrice.valeurMatrice }}</p>
            </div>

            <div class="retourLigneMargin">
            <p class="champ">Conservation : </p><p class="value">{{ analyse.matriceConservationAvantTransport }}</p>
            </div>

            <div class="retourLigneMargin">
            <p class="champ">Transport : </p><p class="value">{{ analyse.matriceTemperatureTransport }}</p>
            </div>

            <div class="retourLigneMargin">
            <p class="champ">Délai d'acheminement </p><p class="value">{{ analyse.matriceDelaiAcheminement }}</p>
            </div>

            <div class="retourLigneMargin">
                <p class="champ">Volume min.</p>
                <p class="value">{{ analyse.volumeMinimum }}</p>
            </div>


        </div>

    </div>
        
    <div id="partieBas">
        <hr class="traitBasique" />
        <p>
             {{ analyse.getConditionPrelevement.valeurCP ~ ' ' ~ analyse.getConditionPrelevement.precisionCP ~ ' ' ~ analyse.getRenseignementClinique.valeurRC}}
        </p>
            </div>

    </div>

     <!--{% if i is divisible by(2) %}
        <br><br>
    {% endif %}


    {% set i = i + 1 %}
       <p>i={{ i }}</p> -->
{% endfor %}


{% endblock %}

