{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="titre">Liste Nature Matrice</h1>

    <table id="table" class="table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Valeur matrice</th>
                <th>Precision matrice</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for natureMatrice in natureMatrices %}
            <tr>
                <td><a href="{{ path('naturematrice_show', { 'id': natureMatrice.id }) }}">{{ natureMatrice.id }}</a></td>
                <td>{{ natureMatrice.valeurMatrice }}</td>
                <td>{{ natureMatrice.precisionMatrice }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('naturematrice_show', { 'id': natureMatrice.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('naturematrice_edit', { 'id': natureMatrice.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="champsfiche">
        <li>
            <a href="{{ path('naturematrice_new') }}">Créer une nouvelle entrée</a>
        </li>
        <li>
            <a href="{{ path('moteur_recherche_administration') }}">Retour sur l'interface d'administration</a>
        </li>
    </ul>
{% endblock %}
