{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste Delai Resultat</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Valeur resultat</th>
                <th>Frequence realisation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for delaiResultat in delaiResultats %}
            <tr>
                <td><a href="{{ path('delairesultat_show', { 'id': delaiResultat.id }) }}">{{ delaiResultat.id }}</a></td>
                <td>{{ delaiResultat.valeurResultat }}</td>
                <td>{{ delaiResultat.frequenceRealisation }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('delairesultat_show', { 'id': delaiResultat.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('delairesultat_edit', { 'id': delaiResultat.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('delairesultat_new') }}">Créer une nouvelle entrée</a>
        </li>
        <li>
            <a href="{{ path('moteur_recherche_administration') }}">Retour sur l'interface d'administration</a>
        </li>
    </ul>
{% endblock %}
