{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="titre">Liste Conservation Avant Transport</h1>

    <table class="table-bordered table-striped" id="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Valeur conservation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for conservationAvantTransport in conservationAvantTransports %}
            <tr>
                <td><a href="{{ path('conservationavanttransport_show', { 'id': conservationAvantTransport.id }) }}">{{ conservationAvantTransport.id }}</a></td>
                <td>{{ conservationAvantTransport.valeurConservation }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('conservationavanttransport_show', { 'id': conservationAvantTransport.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('conservationavanttransport_edit', { 'id': conservationAvantTransport.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('conservationavanttransport_new') }}">Créer une nouvelle entrée</a>
        </li>
        <li>
            <a href="{{ path('moteur_recherche_administration') }}">Retour sur l'interface d'administration</a>
        </li>
    </ul>
{% endblock %}
