{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste Renseignement Clinique</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Valeur renseignement clinique</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for renseignementClinique in renseignementCliniques %}
            <tr>
                <td><a href="{{ path('renseignementclinique_show', { 'id': renseignementClinique.id }) }}">{{ renseignementClinique.id }}</a></td>
                <td>{{ renseignementClinique.valeurRC }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('renseignementclinique_show', { 'id': renseignementClinique.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('renseignementclinique_edit', { 'id': renseignementClinique.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('renseignementclinique_new') }}">Créer une nouvelle entrée</a>
        </li>
        <li>
            <a href="{{ path('moteur_recherche_administration') }}">Retour sur l'interface d'administration</a>
        </li>
    </ul>
{% endblock %}
